.App{
  padding: 40px 20px;
  background: #111;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 580px){
  .App{
    padding: 0 5px;
    height: 100vh;
  }
}


